*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{margin-left: 0px;
    align-items: center;
    justify-content: center;
    padding: 20px;
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: space-evenly;
    height: 80px;
    width: 100%;
    border-bottom: 1px solid black;
    background-color: #fffcfc;
}
li{padding: 10px;
    display: inline;
    
}
.login{
    background-color: gray;
    padding: 10px;
    border-radius: 10px;
    border: none;
    
}
.start{
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 10px;
    border:none
}
.image-container {
    position: relative;
    width: 500px;
}
.image-container img {
   
    height: auto;
}
.input-box {padding: 160px;
    position: absolute;
   background-color: white;
   height: 350px;
   width: 200%;
    display: flex;
    justify-content: space-between;
    gap: 10px; 
    top: 50%; 
    left: 30%; 
    transform: translateY(-50%);
}
.input-box input {
   
    background-color: rgb(220, 214, 214);
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.paid{
   margin-left: -100px;
    background-color: rgb(219, 218, 218);
    position: relative;
}
.back{width: 400px;
    margin-top: 60px;
    margin-left: -500px;
    text-align: center;
    height: 30px;
}
.h2{
    margin-top: -200px;
    margin-left: -400px;
    font-size: 28px;
    font-weight: 500;
}
.btn{background-color: none;
    margin-top: 300px;
    margin-left: -300px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgb(14, 13, 13);
}
.find{
    padding: 10px;
    width: 200px;
    background-color: aqua;
    border-radius: 10px;
    font-weight: 600;
    border: none;
}
.buy-container{
    width: 101%;
    height: 300px;
    background-color: rgb(244, 197, 77);
    position: relative;
}
.buy-h1{
    position: absolute;
    top: 150%;
    left: 35%;
    font-weight: 500;
    font-size: 30px;
}
.buy-img{
position: absolute;
top: 170%;
}
.feature-h2{margin-top: 30px;
    padding: 20px;
    font-weight: 500;

}
.feature-container{margin-top: 50px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
}
.feature-para{
    margin-top: 10px;
    color: #8e8888;
}
h4{
    margin-top: 30px;
}

  .container-offer {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
  }
  
  .section-offer {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    width: 300px;
    text-align: center;
  }
  
  h2 {
    margin-bottom: 20px;
  }
  
  .offer {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
  }
  
  .circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  
  .zelle {
    background: linear-gradient(45deg, #ffe4b5, #ffcc33);
  }
  
  .paypal {
    background: linear-gradient(45deg, #b5dff5, #3399ff);
  }
  
  .wire {
    background: linear-gradient(45deg, #ccffcc, #33cc33);
  }
  
  .details-offer p {display: inline;
   
    font-size: 12px;
  }
  .sign-container{
    width: auto;
    height: 300px;
    background-color: #CFBAFF;
  }

  .offer-img{
    width: 40px;
    height: 40px;
  }
  
  .offer-btn {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
  }
  
  .offer-btn:hover {
    background-color: #444;
  }
  
  .sign-foo{
    text-align: center;
   
    font-size: 30px;
    font-weight: 500;
    padding: 90px;
  }
  .sign-btn{
    margin-top: 30px;
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 15px;
    font-size: 14px;
  }
  